<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to the Mongoose Flight System<%= title %></p>
    <a href="/flights/new">Add Flight</a> 
    <br>
    <a href="/flights">View All Flights</a>
  </body>
</html>
